* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  background-color: #050505 !important;
  z-index: 10000;
  overflow-x:  hidden !important;
  position:fixed;
}
#blob {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: linear-gradient(to right, #9c27b0, #e91e63);
  animation: blobanimate 10s infinite linear forwards;
  position: absolute;
  cursor: pointer;
  pointer-events: none;
  z-index: -2;
  transition: 750ms linear;
}
#overlay {
  overflow-x:  hidden !important;
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  z-index: -1;
  backdrop-filter: blur(100px);
}
@keyframes blobanimate {
  0% {
    transform: rotate(0deg) scaley(100%);
  }
  50% {
    transform: rotate(180deg) scaley(70%);
  }
  100% {
    transform: rotate(360deg) scaley(100%);
  }
}

.d-flex {
  margin-right: 10px;
}
